@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
}
