@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

@layer base {
  body {
    font-family: "Anta", sans-serif;
    background-color: #f0f0f0;
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-family: "Arial", sans-serif;
  }

  span {
    font-family: "Anta", sans-serif;
  }

  button,
  button[type="button"] {
    font-size: 0.9rem;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
  }

  button:hover,
  button[type="button"]:hover {
    font-size: 0.9rem;
    background-color: white;
    color: darkred;
    border: 1px darkred solid;
  }

  a:hover {
    color: darkred;
  }
}
